<div class="container">
    <div style="width: 40%; margin: 7% auto;" class="shadow p-3 bg-body rounded p-5">
    <p class="fw-bolder text-center ">
        FORGOT PASSWORD
    </p>
    <p class="text-center ">
        Please provide your email id an email will be sent toyour email id along with recovery code if 
        the email id exits
    </p>
    <div class="row">
        <input type="text" placeholder="Email" class="form-control"/>
    </div>
    
    <div class="row mt-3">
        <div class="col">   
          <button type="button" class="btn btn-primary pb-2 pt-2 ps-5 pe-5" routerLink="/resetpassword">Submit</button>
        </div>
        <div class="col d-flex flex-row-reverse m-2">
          <a routerLink="" style="color: black;" routerLink="/signUp">Back to login</a>

        </div>
      </div>
    </div>
</div>