<div class="container">
  <div class="row" style="position: relative ;">
    <div class="col" style="margin-left:285px;">
      <div class="text m-5 p-5" >
        <label style="color: #21ce99; font-size: 40px; font-weight: 900"
          >Recruit &nbsp;</label
        >
        <label style="color: black; font-size: 40px; font-weight: 500"
          >Your</label
        ><br />
        <label style="font-size: 40px; font-weight: bold">Project Team</label
        ><br />
        <label style="font-size: 35px">at a Click</label> <br />
        <div class="btn btn-primary" routerLink="/signUp" id="explore">
          Explore
        </div>
      </div>
    </div>
    
    <div class="col-img">
      <div class="img-responsive" >
        <div class="tag" style="border-radius: 10px; width: 250px;">lorem ipsum <i class="fa fa-check-circle" style="font-size:15px; color:aqua"></i>
          <p style="font-size: 8px;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Explicabo, alias provident obcaecati minus illo quos quibusdam, 
             ab sed vitae sunt modi fuga enim aspernatur repellat 
             inventore beatae veniam necessitatibus qui!</p>
        </div>
        <img id="tag-img" src="../assets/images/group.png" alt="" height="600" style="top: -630px; margin-right: -155px;"/>
      </div>
      <div>
        <div class="btn btn-light" routerLink="/signUp" id="btn_signup" style="margin-right:-95px ; top: 20px;">
          Sign Up
        </div>
      </div>
    </div>
  </div>
</div>