

  
  .form-control{
    border-radius: 50px;
  }
  #submit_btn{
    position: absolute;
    position: relative;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border-radius: 50px;
    background-image: linear-gradient(to left, #21CE99 ,#1AF5B2);
    border-color: #1AF5B2;
    
  }
  #back_btn{
    position:absolute;
    position: relative;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border-radius: 50px;
    background-image: linear-gradient(to left,gray,gray);
  }
  
  