<div class="container">
  <div
    style="width: 40%; margin: 7% auto"
    class="shadow p-3 bg-body rounded p-5"
  >
    <p class="fw-bolder text-center">RESET PASSWORD</p>
    <p class="text-center">
      Please provide following details to reset your password
    </p>

   
    <div class="row mt-2" style="position: relative;">
      <input type="text"
       placeholder="New Password" class="form-control" />
       <i class="fa-solid fa-eye-slash " 
      style="position:absolute; left:340px;padding:10px 12px;" ></i>
    </div>
    
    <div class="row mt-2">
      <input type="text" placeholder="Confirm Password" class="form-control" />
    </div>

    <div class="row mt-3">
      <div class="col">
        <button type="button" class="btn pb-2 pt-2 ps-5 pe-5" routerLink="/signUp" id="submit_btn">Submit</button>
      </div>
      <div class="col d-flex flex-row-reverse ">
        <button type="button" class="btn btn-light pb-2 pt-2 ps-5 pe-5" routerLink="/forgotpassword" id="back_btn">Back</button>
      </div>
    </div>
  </div>
</div>
