
 
 .form-control{
   border-radius: 50px;
 }
 .main{
   background-color: white;
 }
 #submit_btn{
   border-radius: 50px;
    background-image: linear-gradient(to left, #21CE99 ,#1AF5B2);
    border-color: #1AF5B2;
 }
 
 .browse{
   border-color: aqua;
   color: aqua;
   background-color:rgb(203, 255, 237);
   border-radius: 5px;
}
p{
   font-weight: 200;
 }